container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"
    leader_only: true
#  02_scrape:
#    command: "source /var/app/venv/*/bin/activate && python3 manage.py crawl-doska; python3 manage.py crawl-lalafo; python3 manage.py crawl-house"
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: aggregator.settings
