{% extends 'housing_aggregator/base.html' %}
{% load housing_aggregator_tags %}
{% block content %}
<div class="container p-5">
  <div class="container p-5 rounded-2 shadow bg-white">
    <form method="get">
      <div class="row">
        <div class="col-md-6">
          <label for="{{ filter.form.address.id_for_label }}">Адрес
            <i title="Эффективность поиска по адресу зависит от того как введён запрос и как рекламодатель написал адрес. Есть вероятность что система найдёт не все объявления с этим адресом."
              class="bi bi-question-circle-fill"></i></label>
          {{ filter.form.address }}
        </div>
        <div class="col-md-6">
          <label for="{{ filter.form.category.id_for_label }}">Что ищем?</label>
          {{ filter.form.category }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="{{ filter.form.price_kgs__gt.id_for_label }}">Цена</label>
          <div class="input-group">
            {{ filter.form.price_kgs__gt }}
            {{ filter.form.price_kgs__lt }}
            {{ filter.form.include_none_price }}
          </div>
        </div>
        <div class="col-md-6">
          <label for="{{ filter.form.rooms__gt.id_for_label }}">Количество комнат</label>
          <div class="input-group">
            {{ filter.form.rooms__gt }}
            {{ filter.form.rooms__lt }}
          </div>
        </div>
      </div>
      <input id="siteNameInput" type="submit" class="btn btn-success" value="Применить фильтры">
      <a class="btn btn-primary" href="{% url 'rent' %}">Очистить</a>
    </form>
  </div>

  <div class="container p-5 my-5 rounded-2 shadow bg-white">
    <div class="container">
      <ul class="list-group">
        {% for ad in page_obj %}
          <article class="card my-2 bg-light">
                <div class="card-body" >
                  <div class="row g-0">
                    <div class="col-md-3">
                      <!-- carousel -->
                      <div id="carouselApartment-{{ ad.pk }}" class="carousel slide" data-interval="false">
                        <div class="carousel-inner">
                        {% if ad.images.0 != '' %}
                          {% for image in ad.images %}
                            {% if image == ad.images.0 %}
                              <div class="carousel-item active">
                                <img src="{{ image }}" class="d-block w-100 rounded" style="height: 200px; object-fit: cover;">
                              </div>
                              {% else %}
                              <div class="carousel-item">
                                <img src="{{ image }}" class="d-block w-100 rounded" style="height: 200px; object-fit: cover;">
                              </div>
                            {% endif %}
                          {% endfor %}
                        {% else %}
                          <div class="carousel-item active">
                            <img src="https://dummyimage.com/300x300/c9c9c9/9c9c9c.png&text=Aggregatico" class="d-block w-100 rounded" style="height: 200px; object-fit: cover;">
                          </div>
                        {% endif %}
                          <button class="carousel-control-prev" type="button" data-bs-target="#carouselApartment-{{ ad.pk }}" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                          <button class="carousel-control-next" type="button" data-bs-target="#carouselApartment-{{ ad.pk }}" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                          </button>
                          <span class="badge bg-primary bg-success" style="position: relative; margin: 5px">{{ ad.site }}</span>
                        </div>
                      </div>
                      <!-- carousel -->
                    </div>
                    <div class="col-md-9 p-3" style="transform: rotate(0)">
                      <div class="row">
                        <div class="col-md-9">
                          <h5 class="card-title">{{ ad.title }}</h5>
                          <p class="card-text"><i class="bi bi-geo-alt"></i> {{ ad.address }}</p>
                          <p class="card-text text-muted fw-light lh-sm">{{ ad.description|truncatewords:15 }}</p>
                        </div>
                        <div class="col-md-3">
                          <div class="row-md-8">
                            <table class="table table-sm">
                              <tbody>
                                <tr>
                                  <td>Категория</td>
                                  <td>{{ ad.category }}</td>
                                </tr>
                                <tr>
                                  <td>Цена (сом)</td>
                                  {% if ad.price_kgs != None %}
                                    <td>{{ ad.price_kgs | floatformat:0 }}</td>
                                  {% else %}
                                    <td>???</td>
                                  {% endif %}
                                </tr>
                                <tr>
                                  <td>Комнат</td>
                                  {% if ad.rooms != None %}
                                    <td>{{ ad.rooms }}</td>
                                  {% else %}
                                    <td>???</td>
                                  {% endif %}
                                </tr>
                              </tbody>
                            </table>
                          <a href="{{ ad.ad_url }}" class="btn btn-primary btn-sm" target="_blank" style="position: absolute; right: 0; bottom: 0;">Подробнее</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                  </div>
              </div>
          </article>
        {% endfor %}
      </ul>
    </div>
    <div class="container border rounded-2 p-2 my-3">
      <div class="pagination">
        <span class="step-links">

          {% if page_obj.has_previous %}
            <a href="?{% param_replace page=1 %}">First</a>
            {% if page_obj.previous_page_number != 1 %}
              <a href="?{% param_replace page=page_obj.previous_page_number %}">Previous</a>
            {% endif %}
          {% endif %}

          <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>

          {% if page_obj.has_next %}
            {% if page_obj.next_page_number != paginator.num_pages %}
              <a href="?{% param_replace page=page_obj.next_page_number %}">Next</a>
            {% endif %}
            <a href="?{% param_replace page=paginator.num_pages %}">Last</a>
          {% endif %}

        </span>
      </div>
    </div>
  </div>
</div>
{% endblock %}
